<ion-header>
  <ion-toolbar>
    <ion-title>Coverpage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1>The Book of Esther</h1>
  </ion-item>
  <ion-item>
    <img id="esther" src="assets/img/esther.png">
  </ion-item>
  <ion-item>
    <ion-button color="tertiary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/toc']">Table
      of
      Contents
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter1']">
      Chapter 1
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter2']">
      Chapter 2
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter3']">
      Chapter 3
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter4']">
      Chapter 4
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter5']">
      Chapter 5
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter6']">
      Chapter 6
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter7']">
      Chapter 7
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter8']">
      Chapter 8
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter9']">
      Chapter 9
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" expand="full" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter10']">
      Chapter 10
    </ion-button>
  </ion-item>
</ion-content>