<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 10 (The Book of Esther)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-itme>
    <h3>The Greatness of Mordecai</h3>
  </ion-itme>
  <ion-item>
    <p>King Xerxes imposed tribute throughout the empire, to its distant shores. 2 And all his acts of power and
      might,
      together with a full account of the greatness of Mordecai, whom the king had promoted, are they not written in the
      book
      of the annals of the kings of Media and Persia? 3 Mordecai the Jew was second in rank to King Xerxes, preeminent
      among
      the Jews, and held in high esteem by his many fellow Jews, because he worked for the good of his people and spoke
      up for
      the welfare of all the Jews.</p>
  </ion-item>
  <ion-button color="dark" [routerDirection]="'root'" [routerLink]="['/chapter9']">Previous Chapter
  </ion-button>
  <ion-button color="dark" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents
  </ion-button>

</ion-content>